<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>DarkSurf</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<nav class="nav-desktop">
    <div class="desktop-logo">DarkSurF</div>
    <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class="nav-links">
        <ul class="topNav">
            <li><a class="item-1" href={% url 'login' %}>Log-In</a></li>
            <li><a class="item-2" href={% url 'register' %}>Sign-Up</a></li>
            <li><a class="item-3" href={% url 'about' %}>About</a></li>
        </ul>
    </div>
</nav>
<section id="bg" class="bg"></section>
<script src={% static 'JS/index.js' %}></script>

</body>
</html>