<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Register</title>
    {% load static %}
    <link rel="stylesheet" href={% static 'css/register.css' %}>
</head>
<body>
    <div class="container">

        <form method="POST" class="form1" action="">
            <div>
                {% for message in messages %}
                <h5>{{ message }}</h5>
                {% endfor %}
            </div>
            {% csrf_token %}
            <h2>Register</h2>
            <input class="box" name="username" type="text" placeholder="Username" required>
            <input class="box" name="email" type="email" placeholder="Email" required>
            <input class="box" name="pass1" type="password" placeholder="Password" required>
            <input class="box" name="pass2" type="password" placeholder="Confirm Password" required>
            <input class="register" name="login" type="submit" value="Register" a>
            <a href="reset">Forget Password?</a>
            <a href={% url 'login' %}>Already have an account?</a>
        </form>
        <div class="side">
            <img src={% static 'images/hack2.jpg'%}>
        </div>
    </div>
</body>
</html>