*{
    box-sizing: border-box;
}

.main1 {
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    margin-top: 50px;

}

.upload-wrapper {
    width: 100%;
    max-width: 1300px;
    display: grid;
    grid-template-columns:auto auto auto;
    grid-gap: 10px;
}

.blank {
    display: flex;
    flex-direction: column;
    height: 100px;
}

.news {
    display: flex;
    flex-direction: column;
    height: 100px;
}

.upload-field {

    border-radius: 10px;
    display: flex;
    height: 100px;
    background-color: black;
}

.upload-text {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 50px;
    margin: auto;
    border-radius: 30px;
    border: none;
    padding: 10px;
    outline: none;
    font-size: 18px;
    background-color: red;
    color: white;
    font-weight: bold;
    min-width: 100px;

}

.upload-text:hover {
    box-shadow: 0px 0px 0px 2px white;
}

.upload-file:hover {
    box-shadow: 0px 0px 0px 2px white;
}

.upload-file {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 50px;
    margin: auto;
    border-radius: 30px;
    border: none;
    padding: 10px;
    outline: none;
    font-size: 18px;
    background-color: red;
    color: white;
    font-weight: bold;
}

.main2 {
    display: none;
}


.show12345 {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main3 {
    display: none;
}

.model-container {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 400px;
    width: 500px;
    border-radius: 20px;
}

.write-post {
    margin-top: -40px;
    margin-left: -20px;
    max-width: 400px;
    width: 100%;
    height: 200px;
}

.create_post {
    margin-top: -40px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 25px;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    border-bottom: 1px solid black;
}

.write-post:where(textarea, button) {
    width: 100%;
    outline: none;
    border: none;
}

.write-post textarea {
    resize: none;
    min-height: 60px;
    font-size: 18px;
}

.write-post textarea {
    margin-left: 10px;
}

.input-group {
    margin-bottom: 15px;
    width: 40px;
}




.submit-post {
    margin-top: -100px;
    padding: 5px 35px;
    border: none;
    background-color: #5BB318;
    color: white;
}


.submit-post:hover {
    background-color: #7DCE13;
}

.submit-post-close {
    margin-left: 10px;
    padding: 5px 35px;
    background-color: #B73E3E;
    color: white;
    border: none;
    text-decoration: none;
}


.submit-post-close:hover {
    color: white;
    background-color: #DD5353;
}


.header-username {
    display: flex;
    height: 40px;
    border-bottom: 1px solid black;
}

.user-content{
    width: 100%;
    max-width: 590px;
    overflow-wrap: break-word;
    outline: none;
    resize: none;
    border: none;
    user-input: none;
    min-height: 30px;
    max-width: 550px;
    margin: 4px 40px 4px 8px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

.display-username {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 25px;
    font-weight: bold;
    font-family: "DejaVu Sans";
}

.post-update {
    /*position: absolute;*/
    width: 100%;
    height: 50px;
    min-height: 500px;
    border: 3px solid red;
}

img {
    width: 100%;
    height: 100%;
}

.main {
    width: 50%;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    height: auto;
    margin: auto;
    background-color: black;
}

.window-container {
    min-height: 120px;
    max-height: 2000px;
    width: 700px;
    min-width: 200px;
    background: white;
    border-radius: 20px;
}
.footer-post{
    min-height: 50px;
}
.footer-post-container{
    margin-top: 12px;
    margin-left: 7px;
}
.btn-skull{
    background: none;
    border: none;
    outline: none;
    color: grey;
}
.btn-skull i:hover{
    cursor: pointer;
}
.like-post{
    margin-bottom: 20px;
    margin-left: 12px;
}
.like-post-count{
    font-weight: bolder;
    text-decoration: none;
    color: black;
}



@media (max-width: 1400px) {
    .main1 {
        margin-top: -40px;
    }

    .window-container {
        margin-bottom: 40px;
        min-width: 400px;

    }

    .upload-wrapper {
        display: block;
        width: 70%;
    }

    .main {
        /*display: block;*/
        margin-top: -80px;
        width: 70%
    }
}
@media (max-width: 1000px) {
    .main1 {
        margin-top: -40px;
    }

    .window-container {
        margin-bottom: 40px;
        min-width: 400px;
    }

    .upload-wrapper {
        display: block;
        width: 80%;
    }

    .main {
        /*display: block;*/
        margin-top: -80px;
        width: 90%
    }
}

@media (max-width: 900px) {
    .upload-wrapper {
        display: block;
        width: 90%;
    }
    .window-container{
        min-width: 400px;
        width: 600px;
    }
    .main {
        /*display: block;*/
        width: 90%
    }
}

@media (max-width: 700px) {
    .upload-wrapper {
        display: block;
        width: 90%;
    }

    .main {
        margin-top: -80px;
        /*display: block;*/
        width: 90%
    }

    .main1 {
        margin-top: -60px;
    }

    .window-container {
        width: 500px;
        margin-bottom: 20px;
    }

    .post-update {
        height: 550px;
    }
}

@media (max-width: 580px) {
    .upload-wrapper {
        display: block;
        width: 100%;
    }

    .main {
        margin-top: -80px;
        /*display: block;*/
        width: 100%
    }

    .main1 {
        margin-top: -60px;
    }

    .model-container {
        width: 370px;
        height: 350px;
    }
    .user-content{
        min-width: 200px;
        width: 390px;
    }
    .window-container {
        margin-bottom: 20px;
        width: 400px;
    }

    .submit-post {
        margin-left: 20px;
    }

    .post-update {
        height: 450px;
    }
}

@media (max-width: 450px) {
    .upload-wrapper {
        display: block;
        width: 100%;
    }
    .user-content{
        min-width: 350px;
        display: flex;
        width: 200px;
        align-items: center;
        justify-content: center;
    }

    .main {
        margin-top: -80px;
        /*display: block;*/
        width: 100%
    }

    .main1 {
        margin-top: -60px;
    }

    .window-container {
        margin-bottom: 20px;
    }

    .post-update {
        min-height: 450px;
    }
}

@media (max-width: 410px) {
    .upload-wrapper {
        display: block;
        width: 100%;
    }
    .user-content{
        min-width: 200px;
        width: 300px;

    }
    .main {
        margin-top: -80px;
        /*display: block;*/
        width: 100%
    }

    .main1 {
        margin-top: -60px;
    }

    .window-container {
        width: 300px;
        min-width: 100px;
        margin-bottom: 20px;
    }

    .post-update {
        height: auto;
    }
}

